*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Oswald', sans-serif;
}

body{
  background:#000;
  color:#fff;
}

/* HEADER */
header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:1rem 2rem;
  border-bottom:1px solid #222;
}

.logo-img{
  height:70px;
}

nav a{
  color:#fff;
  text-decoration:none;
  margin-left:2rem;
  font-size:1.1rem;
}

nav a:hover{
  color:#e50914;
}

/* TITLE */
.page-title{
  text-align:center;
  margin-top:30px;
  font-size:2rem;
  color:#ffffff;
  letter-spacing:1px;
}

/* PLAYER */
.now-playing{
  text-align:center;
  margin-top:30px;
}

.now-playing h3{
  margin-bottom:15px;
  font-weight:500;
}

.player-wrapper{
  width:70%;
  max-width:900px;
  margin:0 auto;
}

.player-wrapper iframe{
  width:100%;
  aspect-ratio:16/9;
  border:none;
  border-radius:12px;
}

/* MUSIC GRID */
.music-grid{
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  gap:30px;
  margin:40px 0;
}

.music-card{
  width:220px;
  background:#111;
  border-radius:10px;
  text-align:center;
  padding:10px;
  transition:.3s;
}

.music-card img{
  width:100%;
  border-radius:8px;
}

.music-card h4{
  margin:10px 0;
}

.music-card button{
  background:#ffffff;
  border:none;
  color:white;
  padding:8px 14px;
  border-radius:6px;
  cursor:pointer;
}

.music-card:hover{
  transform:translateY(-5px);
  box-shadow:0 10px 25px rgba(229,9,20,0.3);
}

/* FOOTER */
footer{
  text-align:center;
  padding:20px;
  border-top:1px solid #222;
  color:#888;
}

/* MOBILE */
@media(max-width:768px){
  .player-wrapper{
    width:95%;
  }
}
.audio-player {
  text-align: center;
  margin-top: 40px;
}

.audio-player h3 {
  margin-bottom: 15px;
}

audio {
  width: 60%;
  max-width: 400px;
  filter: invert(1); /* makes controls light on dark bg */
}

.trailer-player {
  width: 75%;
  max-width: 900px;
  margin: 40px auto;
}

.trailer-player iframe {
  width: 100%;
  aspect-ratio: 16 / 9;   /* keeps thumbnail perfect */
  border: none;
  border-radius: 12px;
  display: block;
}
